/* variables */






/* Basic style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.25%;
}

@media(max-width:1200px){
    html{
        font-size: 50%;
    }
}
body{
    font-size: 1.6rem;
    
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    background-color: #000;
    padding: 2.4rem 2.4rem;
}
a{
    display: inline-block;
    text-decoration: none;

}
button{
    background-color: transparent;
    border: none;
    display: inline-block;
}

/* header */
.header{
    background-image: radial-gradient(50.45% 50.45% at 23% 30.16%, rgba(1, 9, 80, 0.90) 3.13%, rgba(14, 17, 32, 0.00) 100%);
}




/* navigation */
.nav{
    max-width: 112rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 19rem;
}

@media(max-width:600px){
    .nav{
        margin-bottom: 10rem;
    }
}


.logo_box{
    display: flex;
    align-items: center;
}
.path{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_logo{
    margin-right: .6rem;
}
.logo_text{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.nav_item{
    color: #F4F4F4;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-transform: capitalize;
}
.nav_item:not(:last-child){
    margin-right: 3.2rem;
    
}
.path_text{
    font-size: 1.6rem;
    color: #F4F4F4;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: 2px;
}

/* content of discription */
.content{
   
    max-width: 80rem;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 22rem;
}
@media(max-width:615px){
    .content{
        margin-bottom: 15rem;
        text-align: left;
    }
}

h1 {
    font-size: 9.6rem;
    letter-spacing: -.8rem;
    line-height: normal;
    color: #fff;
    font-weight: 900;
    margin-bottom: 1.6rem;
}
@media(max-width:615px){
    h1{
        font-size: 5.4rem;
        letter-spacing: -.3rem;
    }
}
.fastest{
    background-image: linear-gradient(91deg, #36A6F6 51.47%, #0589E9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.content_text{
    color: #E5E6ED;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 3.2rem;
}
@media(max-width:615px){
    .content_text{
        font-size: 1.6rem;
    }
}

.btntext_box{
    display: flex;
    justify-content: center;
    gap: 2.8rem;
}
@media(max-width:615px){
    .btntext_box{
        justify-content: flex-start;
    }
}
.btn{
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    line-height: normal;
    text-transform: capitalize;
}
.btn-background{
    background-image: linear-gradient(266deg, #2962FF -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
    padding: 1.2rem 2.4rem;
    border-radius: 4rem;
}

/* .description section */
.description{
    
    max-width: 112rem;
    margin-inline: auto;
    display: flex;
    gap: 7.8rem;
    margin-bottom: 12.5rem;
}
@media(max-width:935px){
    .description{
        flex-direction: column;
    }
}
.description__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}
@media(max-width:935px){
    .description__text{
        align-items: center;
    }
}
.description__card{
    display: flex;
    flex-basis: 55%;
    
    
}



.description__cards{
    max-width: 28.5rem;
   
    text-align: center;
    padding: 4rem 3rem;
    border-radius: 1.2rem;
    border: 1px solid #35384A;
    background-color:  rgba(47, 50, 65, 0.50);
    backdrop-filter: blur(2px);
    
}
@media(max-width:935px){
    .description__card{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.card-left{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}


.card3{
    margin-left: 2.4rem;
    align-self: center;
}
@media(max-width:935px){
    .card-left{
        flex-direction: row;
        gap: 5.5rem;
    }
    .card3{
        margin-left: 5.5rem;

    
    }
}
@media(max-width:810px){
    .card3{
        margin-top: 5.5rem;
    }
}

@media(max-width:510px){
    .card-left{
        flex-direction: column;
        gap: 5.5rem;
    }
    .card3{
        margin-left: 2rem;
    }
}
.iconbox{
    max-width: 9.1rem;
    min-height: 9.1rem;
    background-color: #34384C;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
   
}
.img_card{
    
    transform: translateY(2rem);
  
    
}
h2{
    font-size: 2.5rem;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1.6rem;
}
.card_text{
    color: #AEAFB4;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    font-style: normal;
}

.description_heading{
    color: #fff;
    font-size: 4.8rem;
    line-height: 5.8rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2.8rem;
}
@media(max-width:672px){
    .description_heading{
        font-size: 4rem;
    }

}
.content_textcard{
    color: #AEAFB4;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    margin-bottom: 2.6rem;
}
.btn_card{
    background-image: linear-gradient(266deg, #1B66F9 -0.27%, #1E68F6 -0.26%, #004BDB 98.59%);
    border-radius: 8rem;
    padding: 1.2rem 2.4rem;
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    
}
@media(max-width:600px){
    .btn_card{
        width: 100%;
    }
}


/* feature section */
.feature{
    max-width: 112rem;
    margin-inline:  auto;
    margin-bottom: 12.5rem; 

}
.feature_description{
    text-align: center;
    margin-bottom: 10rem;
}

.featur_description--text{
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
    margin-bottom: 1.6rem;
}
.heading_tertiary{
    color: #E6E6E6;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.6rem;

}
@media(max-width:600px){
    .heading_tertiary{
        font-size: 3.2rem;
        max-width: 34rem;
        margin: 0 auto;
    }
}


/* feature card */
.feature_cardbox{
    
    display: flex;
    gap: 2.4rem;
    margin-bottom: 7.2rem;
}
@media(max-width:935px){
    .feature_cardbox{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width:720px){
    .feature_cardbox{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 2.4rem;
        margin-bottom: 2.4rem;
    }
}
.feature_cardbox2{
    display: flex;
    gap: 2.4rem;
}
@media(max-width:935px){
    .feature_cardbox2{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.feature_card{
    flex: 0 0 26.2rem;
}
@media(max-width:935px){
    .feature_card{
        flex-basis: 40rem;
    }
}
@media(max-width:720px){
    .feature_cardbox2{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 2.4rem;
    }
    .feature_card{
        flex-basis: 0;
    }
}
.img-feature{
    margin-bottom: 2.4rem;
}
.feature_heading{
    color: #E6E6E6;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
}
.feature_span{
    display: block;
}
.line_rectangle{
    max-width: 8.4rem;
    height: .4rem;
    opacity: 0.15;
    background-color: #E1EAF6;
    margin-bottom: 2.4rem;
}
.feature_text{
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}


/* team section */
.team{
    max-width: 88rem;
    
    margin-inline: auto;
    margin-bottom: 12.5rem;
}

.team_titlebox{
    text-align: center;
    margin-bottom: 10rem;
}

.team_text{
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}
.team_heading{
    color: #E6E6E6;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.6rem;
}
@media(max-width:600px){
    .team_heading{
        font-size: 3.2rem;
    }
}
.team_picture{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-bottom: 8rem;
}
@media(max-width:935px){
    .team_picture{
        /* flex-wrap: wrap; */
        gap: 2rem;
        justify-content: center;
    }
}



.team_picturebox{
    flex: 0 0 16rem;
    text-align: center;
    
}
@media(max-width:935px){
    .team_picturebox{
        flex: 0 0 22rem;
    }
}
@media(max-width:600px){
    .team_picturebox{
        flex: 0 0 17rem;
    }
}
.img_person{
    border-radius: 50%;
    margin-bottom: 3.2rem;
}
.person_name{
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
}
.person_title{
    font-size: 1.4rem;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: .4rem;
    opacity: 0.75;
}
.icon_inslink{
    display: inline-block;
    margin-right: 1.6rem;
}


/* sponsser */
.sponser{
   
    margin-inline: auto;
    margin-bottom: 12.5rem;
}

.sponser_text{
    text-align: center;
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
}
@media(max-width:500px){
    .sponser_text{
        font-size: 1.6rem;
    }
}
.sponser_logobox{
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}
@media(max-width:935px){
    .sponser_logobox{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width:400px){
    .sponser_logobox{
        gap: 1.8rem;
    }
}

.logo_textbox{
    flex-basis: 16rem;
    
   
    
}

/* contact form */
.contact{
    max-width: 112rem;
    margin-inline: auto;
    /* background-color: yellow; */
    display: flex;
    gap: 17.6rem;
    margin-bottom: 12.5rem;
}
@media(max-width:935px){
    .contact{
        flex-direction: column;
        gap: 4.8rem;
    }
}

.contact_description{
    flex: 0 0 40rem;
}

@media(max-width:935px){
    .contact_description{
        flex: 0 0 0;
        text-align: center;
    }
}
@media(max-width:600px){
    .contact_description{
        text-align: start;
    }
}

.contact_form{
    flex: 1;
}
@media(max-width:935px){
    .contact_form{
        flex: 0;
        max-width: 70rem;
        margin-inline: auto;
        width: 100%;
    }
}

.contact_description-text{
    color:#6E757C;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: .4rem;
}
.contact_heading{
    color: #fff;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.6rem;
}

.contact_formtext{
    color: #6A7986;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: 1.6rem;
}
.input-email{
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    background-color: #0E1012;
    border-radius: 1.2rem;
    border: none;
    padding: 2rem 2.4rem;
    margin-bottom: 2.4rem;
    color: #6E757C;
    font-weight: 500;
    font-style: normal;
    
}



.input_message{
    width: 100%;
    height: 16rem;
    padding: 2rem 2.4rem;
    background-color: #0E1012;
    border-radius: 1.2rem;
    font-family: inherit;
    font-size: inherit;
    border: none;
    margin-bottom: 2.4rem;
    color: #6E757C;
    font-weight: 500;
    font-style: normal;

}



.btn_form{
    background-image: linear-gradient(266deg, #1B66F9 -0.27%, #1E68F6 -0.26%, #004BDB 98.59%);
    border-radius: 1.2rem;
    padding: 1.2rem 2.4rem;
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}



/* call to action */
.cta{
 
    max-width: 112rem;
    margin-inline: auto;
    display: flex;
    margin-bottom: 4.7rem;
}
@media(max-width:935px){
    .cta{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.cta_detail{
    flex-basis: 18.6rem;
    margin-right: 19rem;
}
@media(max-width:750px){
    .cta_detail{
        margin-bottom: 4.8rem;
    }
}
.cta_menu{
    flex-basis: 40rem;
    /* margin-right: 5rem; */
}
@media(max-width:935px){
    .cta_menu{
        flex-basis: 50rem;
        margin-bottom: 4.8rem;
        
    }
}
.cta_detail-logotext{
    display: flex;
    gap: .6rem;
    margin-bottom: 1.2rem;
    align-items: center;
}
.cta_detailtext{
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
    
}
.cta_text{
    color: #AEAFB4;
    width: 18.6rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 2.4rem;
}
.cta_imgbox{
    display: flex;
    gap: 2.4rem;
}
.cta_menutext{
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2.4rem;
    
}
.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}
.list_item{
    flex-basis: 50%;
    color: #AEAFB4;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    
    

}
.list_item:not(:last-child){
    margin-bottom: 2.4rem;
}

.subcription_heading{
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2.4rem;
}
.subcription_text{
    color: #AEAFB4;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    width: 35.4rem;
    margin-bottom: 2.4rem;

}
.input_subcription{
    font-family: inherit;
    font-style: normal;
    border: none;
    background-color: rgba(47, 50, 65, 0.50);
    border: 1px solid #34384C;
    border-radius: 1.2rem;
    width: 35.4rem;
    height: 6.4rem;
    padding: .8rem .8rem .8rem 2.4rem;
    color: rgba(174, 175, 180, 0.75);
    font-size: 1.4rem;
    font-weight: 500;
}
.btn_subcription{
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    padding: 1.2rem 2.4rem;
    border-radius: .8rem;
    background-image: linear-gradient(266deg, #1B66F9 -0.27%, #1E68F6 -0.26%, #004BDB 98.59%);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: normal;
    cursor: pointer ;

}
@media(max-width:935px){
    .input_subcription{
        margin-bottom: 4.8rem;
    }
}
.input_btn{
    position: relative;
}

/* line2 */
.line2{
    max-width: 112rem;
    height: 1px;
    margin-inline: auto;
    background-color: #AEAFB4;
    opacity: 0.1; 
    margin-bottom: 3.2rem;  
}


/* footer */
.footer{
    margin-inline: auto;
    
    max-width: 112rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4rem;
}
@media(max-width:935px){
    .footer{
        flex-direction: column-reverse;
        align-items: center;
        
    }
}
.footer_text{
    color: #AEAFB4;
    font-size: 1.6rem;
    font-weight: 400;
}
.footer_linkbox{
    display: flex;
    
}
@media(max-width:935px){
    .footer_linkbox{
        margin-bottom: 2.4rem;
    }
}
.footer_link{
    color: #AEAFB4;
    font-size: 1.6rem;
    font-weight: 400;
}
.footer_link:not(:last-child){
    margin-right: 1.6rem;
}
.footer_dot{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 1.6rem;
    text-align: center;
    
}
