/* variables */






/* Basic style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.25%;
}
body{
    font-size: 1.6rem;
    
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
    background-color: #000;
}
a{
    display: inline-block;
    text-decoration: none;

}
button{
    background-color: transparent;
    border: none;
    display: inline-block;
}

/* header */
.header{
    
    height: 70rem;
    background-image: radial-gradient(50.45% 50.45% at 23% 30.16%, rgba(1, 9, 80, 0.90) 3.13%, rgba(14, 17, 32, 0.00) 100%);
    
}

/* decorative line */
.line{

}

/* navigation */
.nav{
    max-width: 112rem;
    /* background-color: yellow; */
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 19rem;

}
.logo_box{
    display: flex;
    align-items: center;
}
.path{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_logo{
    margin-right: .6rem;
}
.logo_text{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.nav_item{
    color: #F4F4F4;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-transform: capitalize;
}
.nav_item:not(:last-child){
    margin-right: 3.2rem;
    
}
.path_text{
    font-size: 1.6rem;
    color: #F4F4F4;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: 2px;
}


/* content of discription */
.content{
    /* background-color: yellow; */
    max-width: 80rem;
    margin-inline: auto;
    text-align: center;
}

h1 {
    font-size: 9.6rem;
    letter-spacing: -.8rem;
    line-height: normal;
    color: #fff;
    font-weight: 900;
    margin-bottom: 1.6rem;
}
.fastest{
    background-image: linear-gradient(91deg, #36A6F6 51.47%, #0589E9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.content_text{
    color: #E5E6ED;
    font-size: 2rem;
    margin-inline: 0 auto;
    max-width: 76rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 3.2rem;
}

.btntext_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}
.btn{
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    line-height: normal;
    text-transform: capitalize;
    background-image: linear-gradient(266deg, #2962FF -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
    padding: 1.2rem 2.4rem;
    border-radius: 4rem;
}
.btnside_text{
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    line-height: normal;
    cursor: pointer;
}

/* .description section */
.description{
    /* background-color: yellow; */
    max-height: 70rem;
    max-width: 112rem;
    margin-inline: auto;
    /* padding: 7.6rem 16rem; */
    display: flex;
    gap: 7.8rem;
    margin-bottom: 12.5rem;
}
.description__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}
.description__card{
    display: flex;
    flex-basis: 55%;
    /* background-color: white; */
    /* flex-direction: column; */
    
}

.description__cards{
    max-width: 28.5rem;
    max-height: 33rem;
    /* background-color: green; */
    text-align: center;
    padding: 4rem 3rem;
    border-radius: 1.2rem;
    border: 1px solid #35384A;
    background-color:  rgba(47, 50, 65, 0.50);
    backdrop-filter: blur(2px);
    
}
.card-left{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.card3{
    margin-left: 2.4rem;
    align-self: center;
}

.iconbox{
    max-width: 9.1rem;
    min-height: 9.1rem;
    background-color: #34384C;
    border-radius: 50%;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 4rem;
    /* text-align: center; */
}
.img_card{
    /* background-size: contain; */
    transform: translateY(2rem);
    max-height: 4rem;
    
}
h2{
    font-size: 2.5rem;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1.6rem;
}
.card_text{
    color: #AEAFB4;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    font-style: normal;
}

.description_heading{
    color: #fff;
    font-size: 4.8rem;
    line-height: 5.8rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2.8rem;
}
.content_textcard{
    color: #AEAFB4;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    margin-bottom: 2.6rem;
}
.btn_card{
    background-image: linear-gradient(266deg, #1B66F9 -0.27%, #1E68F6 -0.26%, #004BDB 98.59%);
    border-radius: 8rem;
    padding: 1.2rem 2.4rem;
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    
}


/* feature section */
.feature{
    max-width: 112rem;
    max-height: 75rem;
    /* background-color: yellow; */
    margin-inline:  auto;
     margin-bottom: 12.5rem; 

}
.feature_description{
    text-align: center;
    margin-bottom: 10rem;
}
.featur_description--text{
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
    margin-bottom: 1.6rem;
}
.heading_tertiary{
    color: #E6E6E6;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.6rem;

}

/* feature card */
.feature_cardbox{
    /* background-color: yellow; */
    display: flex;
    gap: 2.4rem;
    margin-bottom: 7.2rem;
}
.feature_cardbox2{
    display: flex;
    gap: 2.4rem;
}

.feature_card{
    flex: 0 0 26.2rem;
}
.img-feature{
    margin-bottom: 2.4rem;
}
.feature_heading{
    color: #E6E6E6;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
}
.feature_span{
    display: block;
}
.line_rectangle{
    max-width: 8.4rem;
    height: .4rem;
    opacity: 0.15;
    background-color: #E1EAF6;
    margin-bottom: 2.4rem;
}
.feature_text{
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}


/* team section */
.team{
    max-width: 88rem;
    max-height: 77rem;
    /* background-color: yellow; */
    margin-inline: auto;
    margin-bottom: 12.5rem;
}

.team_titlebox{
    text-align: center;
    margin-bottom: 10rem;
}

.team_text{
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}
.team_heading{
    color: #E6E6E6;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.6rem;
}
.team_picture{
    display: flex;
    gap: 8rem;
    margin-bottom: 8rem;
}
.team_picture2{
    display: flex;
    gap: 8rem;
}
.team_picturebox{
    flex: 0 0 16rem;
    text-align: center;
    /* background-color: yellow; */
}
.img_person{
    border-radius: 50%;
    margin-bottom: 3.2rem;
}
.person_name{
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
}
.person_title{
    font-size: 1.4rem;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: .4rem;
    opacity: 0.75;
}
.icon_inslink{
    display: inline-block;
    margin-right: 1.6rem;
}


/* sponsser */
.sponser{
    max-width: 74rem;
    /* background-color: yellow; */
    margin-inline: auto;
}

.sponser_text{
    text-align: center;
    color: rgba(174, 175, 180, 0.50);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
}
.sponser_logobox{
    display: flex;
    gap: 3.2rem;
}

.logo_textbox{
    flex-basis: 16.6rem;
    min-height: 6.4rem;
    /* background-color: pink; */
    
}
